/* ---- Utilities starts ----------------  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --paraColor: #666666;
}

section {
  padding: 3rem 0;
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: #007abe;
  margin: 0 auto;
  margin-bottom: 20px;
}

.txtCtr {
  text-align: center;
  margin-top: 5rem;
}

.paras {
  font-size: 1.8rem;
  color: #8b8484;
  margin: 3rem 0;
}

.paras a {
  text-decoration: none;
}

/* ---- Utilities ends ----------------  */

/* ----------------------------- */

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-fit: cover;
}

.back-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: grayscale(20%);
}

/* ------------- nanbar starts -------------- */

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background-color: #00000080;
}

.nav_container {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  width: 10.5rem;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 2.7rem;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.7rem;
  transition: all 0.2s linear;
}

nav ul li a:hover {
  color: royalblue;
}

.menu {
  display: none;
}

/* ------------- nanbar ends -------------- */

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

/* -----------------------  */

.heading {
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
}

/* --------------------------------- */

.left,
.right {
  padding: 2rem;
}

.right a {
  text-decoration: none;
  font-size: 1.6rem;
}

.sub_head {
  font-size: 2.6rem;
  font-weight: 600;
}

.para {
  margin: 2.5rem 0;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--paraColor);
}

/* --------------------------- */

/* --------------- grids starts ----------------- */

.grid_left,
.grid_right {
  padding: 2rem;
}

.cards {
  text-align: center;
}

.cards_img {
  height: 100%;
  border-radius: 0.2rem;
  overflow: hidden;
}

.cards h2 {
  text-align: center;
  font-weight: 700;
  margin: 2rem 0;
  color: var(--paraColor);
}

.cards a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--paraColor);
  padding: 0.6rem 3rem;
  border: 2px solid var(--paraColor);
  border-radius: 0.3rem;
  margin: 0 auto;
}

.cards img {
  transition: all 0.3s ease-in;
}

.cards img:hover {
  transform: scale(1.1);
}

/* --------------- grids ends ----------------- */

/* --------- contacts bg fixed starts ----------------- */
.subscribe {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://www.simargroupsrl.com/img/subscribe-bg.jpg") fixed center
      center;
  background-position: center;
  background-size: cover;
  height: 25rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.inside h1 {
  font-size: 3rem;
  font-weight: 600;
}

.inside img {
  width: 5.5rem;
  margin-top: 1.5rem;
}
/* --------- contacts bg fixed ends ----------------- */

/* ------------------- footer starts ---------------------- */
.footer {
  padding: 3rem 0;
  background-color: black;
}

.footer_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.footer_cont a {
  margin: 0.3rem 0;
  font-size: 1.4rem;
  text-decoration: none;
  color: #007abe;
}

.footer_cont p {
  font-size: 1.4rem;
}

.up {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  color: #6e6868;
  visibility: hidden;
}

.up img {
  width: 5rem;
}

.clicked {
  color: rgba(65, 105, 225, 0.759);
  font-size: 1.8rem;
  font-weight: 700;
}

/* ------------------- footer ends ---------------------- */

/* ------------ Contact form starts ---------------- */

.contacts {
  background: whitesmoke;
}

.contacts_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3.5rem 0;
}

.contacts_cont h3 {
  color: var(--paraColor);
}

.form {
  width: 70%;
}

.input_div {
  margin: 1.6rem 0;
}

.input {
  width: 100%;
  padding: 0.6rem 1.5rem;
  font-size: 1.4rem;
}

.sbt {
  display: block;
  margin: 0 auto;
  font-size: 1.7rem;
  padding: 0.8rem 2.5rem;
  background-color: #007abe;
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  transition: all 0.3s ease-in;
}

.sbt:hover {
  background-color: #56addc;
}

/* ------------ Contact form ends ---------------- */

.map {
  height: 40rem;
}

/* ###################### media queries ################################ */

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 994px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 650px) {
  .nav_container ul {
    display: none;
  }

  .menu {
    display: block;
    width: 2.2rem;
    cursor: pointer;
  }

  .nav_container {
    padding: 0 1rem;
  }
  .content > img {
    width: 18rem;
  }

  .para {
    font-size: 1.8rem;
  }
  nav .logo {
    width: 12rem;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 45%;
  }
  .hero {
    height: 60vh;
  }

  .contacts_cont {
    padding: 3.5rem 1.5rem;
  }

  .form {
    width: 90%;
  }
}
