@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100&family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap");

.content {
  text-align: center;
}

.content h1 {
  font-size: 3rem;
  color: #fff;
  transition: 0.5s;
  word-spacing: 1rem;
}
.content > img {
  margin-bottom: 3.5rem;
}

.content a img {
  margin-top: 2rem;
  width: 5rem;
}

/* ----------------- */

.group_container > p {
  font-size: 1.7rem;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-bottom: 3rem;
}

.linee {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    url("https://www.simargroupsrl.com/en/img/lavorazioni-bg.jpg") fixed center
      center;
  background-size: cover;
  padding: 200px 0;
}

.grid_left,
.grid_right {
  padding: 2rem;
}

.cards {
  text-align: center;
}

.cards_img {
  height: 100%;
  border-radius: 0.2rem;
  overflow: hidden;
}

.cards h2 {
  text-align: center;
  font-weight: 700;
  margin: 2rem 0;
  color: var(--paraColor);
}

.cards a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--paraColor);
  padding: 0.6rem 3rem;
  border: 2px solid var(--paraColor);
  border-radius: 0.3rem;
  margin: 0 auto;
}

.cards img {
  transition: all 0.3s ease-in;
}

.cards img:hover {
  transform: scale(1.1);
}

/* ------------------------------------------------------- */
